html,body {
	padding:0;
	margin:0;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	box-sizing:content-box;
	display:flex;
	flex-direction:column;
	min-width:400px;
}

.wrapper {
	flex:1 0 auto;
	display:flex;
	flex-direction:column;
}

header {
	padding:15px;
	background-color: gray;
	display:flex;
}

.info-header {
	margin-left:auto;
	margin-right:auto;
}

.fio h1 {
	text-align:center;
	color:white;
	text-shadow:1px 1px 10px black;
}

.main-menu {
	list-style:none;
	padding:0;
	margin:0;
	display:flex;
	justify-content:center;
}

.main-menu li {
	flex-grow:1;
}

.main-menu a {
	display:block;
	padding:17px 20px;
	color:black;
	text-decoration:none;
}

/*.main-menu a:after, .main-menu .active:after, .sub-menu a:after, .sub-menu .active:after {*/
/*	background-color:black;*/
/*	display:block;*/
/*	content:"";*/
/*	height:3px;*/
/*	width:0;*/
/*	-webkit-transition:width .3s ease-in-out;*/
/*	-moz-transition:width .3s ease-in-out;*/
/*	transition:width .3s ease-in-out;*/
/*}*/

.main-menu a:hover::after, .main-menu .active:after, .sub-menu a:hover::after, .sub-menu .active:after  {
	width:100%;
}

.main-menu .active, .main-menu a:hover, .sub-menu .active, .sub-menu a:hover {
	color:white;
}

.sub-menu{
	list-style:none;
	padding:0;
	margin:0;
	display:flex;
	justify-content:center;
	flex-flow:row wrap;
	background:silver;
	border-top:2px solid black;
	border-bottom:2px solid black;
}
.sub-menu li {
	text-align:center;
	flex-grow:1;
}

.sub-menu a {
	display:block;
	padding:1em;
	color:black;
	text-decoration:none;
}

.sub-menu .active, .sub-menu a:hover {
	background: #92eba6;
}

main {
	flex:1 0 auto;
	padding:3em;
}

footer {
	padding:15px;
	background-color: gray;
	text-align:center;
}

.social-footer img {
	width:20px;
}

/* ----- Стивелый свойства ----- */
.def_one {
	padding:0.5cm;
	font-size:12pt;
	text-align:justify;
	background:lightgrey;
	color:brown;
}

.def_two {
	padding:0.5cm;
	margin:0 1cm;
	background:turquoise;
}

.nb{
	float:left;
	width:50%;
	border:1px solid black;
	margin-right:10px; 
}

.borders {
	text-align:justify;
	border-left:3px solid var(--cell-bg-color);
	border-right:3px solid var(--cell-bg-color);
}

.podl{
	position:relative;
}
.ground{
	color:#eeeeee;
	font-size:50px;
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	padding:0;
	margin:0;
}
.poster{
	color:brown;
}

.columns::first-letter {
	font-size: 3em;
	color: red;
}

.columns{
	column-width:200px;
	column-count:2;
	column-gap:30px;
	column-rule:4px solid var(--cell-bg-color);
}

.scroll1 {
	width:400px;
	height:200px;
	overflow:auto;
}

.scroll2 {
	border-top:3px solid var(--cell-bg-color);
	margin-top:10px;
	width:400px;
	height:200px;
	overflow:auto;
}

/* ----- Медиазапросы ----- */
.large_text{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

@media (max-width: 1280px) { 
	
	.columns{
		column-count:1;
	}

	.columns::first-letter {
		font-size: 0em;
	}

}

/* ----- Селекторы ----- */
p[attr] {
	color:red;
	font-size:20px;
}

p[attr2^="begin"] {
	background:yellow;
	padding:10px;
	text-decoration: underline;
}
p[attr2*="mid"] {
	font-style:italic;
	border:4px solid lawngreen;
	padding:10px;
}

p[attr2$="end"] {
	font-size:20px;
	font-weight:bold;
	background:orange;
	padding:10px;
}

/* ----- Псевдоклассы ----- */
:root {
	--cell-bg-color: #baffc0;
}

.ps-classes  li {
	display:inline-block;
	width:50px;
	height:50px;
	background:silver;
	border:2px solid black;
	text-align:center; 
	margin:2px 0;
}
.ps-classes li span {
	font-size:20px; 
	line-height:50px;
}
.ps-classes .frst  li:first-child{
	background-color: var(--cell-bg-color);
}

.ps-classes .sec  li:last-child{
	background-color: var(--cell-bg-color);
}

.ps-classes .thrd  li:nth-child(even){
	background-color: var(--cell-bg-color);
}

.ps-classes .frth  li:nth-child(odd){
	background-color: var(--cell-bg-color);
}
.ps-classes .fvth  li:nth-child(5n+1), .ps-classes .fvth  li:nth-child(5n+2) {
	background-color: var(--cell-bg-color);
}

.ps-classes .sxth  li:nth-child(3){
	background-color: var(--cell-bg-color);
}

.ps-classes .svth  li:not(:nth-child(3)){
	background-color: var(--cell-bg-color);
}

/* ----- Цветовые режимы ----- */
.borders-blocks {
	text-align: center;
}

.borders-blocks div{
	width:130px;
	height:130px;
	display:inline-block;
	margin:10px;
}

.borders-blocks .br1{
	background: hsl(179, 100%, 65%);
	border:4px solid hsla(0, 100%, 100%, 1);
	border-radius:40px 0px;
	box-shadow:0 15px 10px rgba(0,0,0,0.5);
}
.borders-blocks .br2{
	background: hsl(304, 100%, 66%);
	border:4px solid hsla(0, 100%, 100%, 1);
	border-radius:0 70%;
	box-shadow:0 15px 10px rgba(0,0,0,0.5); 
}

.borders-blocks .br3{
	background: hsl(39, 96%, 53%);
	border:4px solid hsla(0, 100%, 100%, 1);
	border-radius:0 70px 0 0;
	box-shadow:0 15px 10px rgba(0,0,0,0.5);
}

/* ----- Фильтры, градиент фона, тени ----- */
.lbl {
	background-image: linear-gradient(#aeffa6, #faa9ff);
	border: 2px solid black;
	height: 90px;
	text-align: center;
	border-radius: 8px;
	color: #ffffff;
	line-height: 90px;
	padding: 15px;
	font-size: 3.5vw;
	font-weight: bold;
	text-shadow: 14px -15px 5px #8ccaa9, -20px 18px 7px #715151, 3px 3px 1px #bbb, -17px -2px 5px #c29191, 11px 16px 7px #4a3333;
}

.afewshdws{
	font-size: 22px;
	text-shadow: 1px 1px 2px #3fff7e, -2px -2px 2px #00abff, 3px 3px 2px #eb00fc;
}

.gradients, .filters {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.gradients div{
	height:200px;
	margin:5px;
	flex:1 1 200px;
}
.gradients .fst-gradient {
	background: linear-gradient(90deg, #bcdfff, #e8c5e4);

}

.gradients .sec-gradient {
	background: linear-gradient(45deg, #48056e 20%, #cc5252 40%);
}

.gradients .thrd-gradient {
	background: radial-gradient(#ff41db, #7980f8);
}

.gradients .img-gradient-1 {
	background:linear-gradient(45deg, rgba(61, 250, 79, 0.8), rgba(255, 23, 0, 0.42)), url(../img/img_1.jp2);
	background-size: cover;
}

.gradients .img-gradient-2 {
	background:linear-gradient(30deg, rgba(255, 13, 0, 0.8), rgba(0, 41, 255, 0.5)), url(../img/img_2.jp2);
	background-size:cover;
}

.filters {
	margin-top:20px;
}

.filters div{
	height:380px;
	margin:5px;
	flex:1 1 400px;
}

.filters .fst-filter {
	background:url(../img/img_3.jpg); 
	background-size:cover;
}

.filters .fst-filter:hover {
	filter:blur(2px);
}

.filters .sec-filter {
	background:url(../img/img_4.jpg); 
	background-size:cover;
}

.filters .sec-filter:hover {
	filter:saturate(300%);
}

.filters .thrd-filter {
	background:url(../img/img_5.jpeg); 
	background-size:cover;   
}

.filters .thrd-filter:hover {
	filter:opacity(50%);
}

.filters .frth-filter {
	background:url(../img/img_6.jpeg); 
	background-size:cover;
}

.filters .frth-filter:hover {
	filter:grayscale(0.75);
}

.filters .fvth-filter {
	background:url(../img/img_7.jpeg); 
	background-size:cover;
}

.filters .fvth-filter:hover {
	filter:sepia(100%);
}

/* ----- Переходы, преобразование и анимация ----- */
.transitions, .transforms, .trans3d {
	display:flex;
	flex-direction:row;
	justify-content:center;
}

.transitions .block {
	width:110px;
	height:110px;
	background-color: var(--cell-bg-color);
	border:3px solid black;
	margin:10px;
	transition:0.5s all linear;
	line-height:180px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
	box-sizing:border-box;
}

.transitions .b1:hover {
	background: #0075fc;
	border-color: #cd72ff;
}

.transitions .b2:hover {
	background: #fc4800;
	border-color: #008fee;
	border-radius:50%;
}

.transitions .b3:hover {
	width:100px;
} 

.transitions .b4:hover {
	border:10px dashed #ac3d06;
}

.transitions .b5:hover {
	/*padding-bottom: 100px;*/
	font-size:50px;
	text-shadow:2px 2px 20px #0095b8;
	border-color: #dd660a;
	background: #02fcd6;
}

.transforms .block {
	width:110px;
	height:110px;
	background: #807a00;
	border:4px solid var(--cell-bg-color);
	margin:10px;
	font-size:20px;
	text-align:center;
	transition:0.4s transform ease-in;
	box-sizing:border-box;
	line-height:130px;
}

.transforms .b1:hover {
	transform:scaleY(1.5);
}

.transforms .b2:hover {
	transform:translate(40px,40px) ;
}

.transforms .b3:hover {
	transform:scale(1.3); 
} 

.transforms .b4:hover {
	transform:rotate(180deg) ;
}

.transforms .b5:hover {
	transform:skew(-40deg) ;
}
.trans3d {
	perspective:700px;
	transform-style:preserve-3d;
}

.trans3d .block {
	width:220px;
	height:220px;
	background: #481dff;
	border:4px solid orange;
	margin:10px;
	font-size:20px;
	text-align:center;
	transition:0.4s transform ease-in;
	box-sizing:border-box;
} 

.trans3d .b1:hover {
	transform:rotateX(-30deg);
}

.trans3d .b2:hover {
	transform:scaleZ(1.9) rotateX(-70deg) rotateY(20deg);
	perspective-origin:50% 41%;
}

.trans3d .b3:hover {
	transform: scaleZ(1.4) rotateY(40deg) translateY(90px) rotateZ(-60deg);
	perspective-origin:50% 41%;
}

/* ----- Flex ----- */
.text_blocks {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.text_blocks .bl {
	flex:1 1 180px;
	height:180px;
	background: #6bffdf;
	border:2px solid #2100d6;
	margin:7px 7px;
	font-size:15px;
	display:flex;
	box-sizing:border-box;
	padding:3px;
}

.txt-b-1 {
	align-items:center;
}

.txt-b-2 {
	justify-content:center;
	align-items:center;
}

.mrg {
	height: 100px;
	background: #ff4900;
	border:2px solid black;
	display:flex;
	align-items:center;
	margin:10px 0;
	list-style:none;
	padding:0 10px;
}

.mrg  li {
	display:block;
	width:60px;
	height:60px;
	background: #fc5300;
	border:2px solid black;
	text-align:center; 
	margin:0 10px;
}

.left-mrg {
	flex-direction:row-reverse;
} 

.left-mrg li:last-child {
	margin-right:auto;
	background: #18ff9a;
	border:2px solid black;
}

.right-mrg li:last-child {
	margin-left:auto;
	background: #afffc3;
	border:2px solid black;
}

.vert-lists {
	display:flex;

}
.flex-col {
	display:flex;
	flex-direction: column;
	background: #1afff8;
	border:2px solid black;
	margin:10px;
	list-style:none;
	padding:10px;
	flex-grow:1;
}

.flex-col li {
	display:block;
	height:50px;
	background: #c3ffec;
	border:2px solid black;
	margin-top:7px; 
	line-height:50px;
	text-align:center;
	font-size:20px;
}

.flex-col.rev {
	flex-direction:column-reverse;
}

.flex-align {
	height:160px;
	display:flex;
	border:2px solid black;
}

.flex-align div {
	width:130px;
	background: #00ff9c;
	border:2px solid black;
	margin:10px;
	padding:5px;
}

.flex-align div:first-child{
	align-self:stretch;
}

.flex-align div:nth-child(2){
	align-self:flex-end;
}

.flex-align div:nth-child(3){
	align-self:flex-start;
}

.flex-align div:nth-child(4){
	align-self:center;
}

/* ----- Кроссворд ----- */
.contnt {
	display:flex;
	flex-direction:column;
	align-items:center;
}
.table-container table {
	border-collapse: collapse;
	border:2px solid black;
	text-align:center;
} 

.table-container table td {
	width:15px;
	height:15px;
	font-size:12px;
	border:1px solid #555555;
	cursor:pointer;
	user-select:none;
	background:white;
}

.table-container table .fvth-bl-right {
	border-right:2px solid #555555;
}

.table-container table .fvth-bl-bot {
	border-bottom:2px solid #555555;
}

.table-container table .td-zero-cell {
	background:#f7f7f7;
}

.table-container .td-header-cell {
	background:#d3d3d3;
}

.control-buttons {
	margin-top:20px;
	display:flex;
}

.btn {
	text-decoration:none;
	text-align:center;
	display:block;
	min-width:150px;
	max-width:300px;
	height:50px;
	border-radius:4px;
	border:2px solid black;
	background:skyblue;
	color:black;
	line-height:50px;
	font-weight:bold;
	margin-right:30px;
	padding:0 10px;
	font-size:14px;
	cursor:pointer;
}

.btn:hover { 
	background:#035274 !important;
	border: 2px solid black;
	color:white;
}


#animation-div_1 {
	position:absolute;
	top:431.6px;
	right:1316px;
} 

#animation-div_2 {
	position:absolute;
	top:0;
	right:0;
}

.button {
	height:36px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}